.container-about {
    background: lawngreen;
    width: 100%;
    height: 20em;
    padding: 90px 190px 30px 190px;
    overflow: scroll;
}
.container-about .subtitle-about {
    background-color: lightcoral;
    margin: 20px;
    width: 100%;
}

.container-about .subtitle-about p {
    font-size: 40px;
    font-weight: bold;
} 

.container-about .subtitle-about .about-list {
    background-color: lightseagreen;
    width: 100%;
    margin: 20px;
    height: 5em;
}
