.container-exp {
    color: #000;
    width: 100%;
    height: 40em;
    background-color: palegoldenrod;
    padding: 90px 190px 30px 190px;
}

.container-exp .subtitle-exp {
    background-color: lightcoral;
    margin: 20px 0 120px 0;
    width: 100%;
}

.container-exp .subtitle-exp p {
    font-size: 60px;
    font-weight: bold;
}

.container-exp .about-exp {
    background-color: lightseagreen;
    width: 100%;
    margin: 20px 50px 20px 90px;
    height: 5em;
}

.container-exp .about-exp li {
    font-size: 24px;
    list-style-type: none;
}


