.container-profile {
    width: 100%;
    height: 30em;
    padding: 90px 190px 30px 190px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    background-color: chocolate;
}

.container-profile .title {
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 110px;
    background-color: chartreuse;
}

.container-profile .title h1 {
    font-size: 80px;
}

.container-profile .title h2 {
    font-size: 52px;
}

.container-profile .photo {
    width: 100%;
    height: 300px;
    background-color: cyan;
}

img {
    float: right;
    margin-right: 200px;
    width: 295px;
}
