* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf');
  src: url('./fonts/poppins.ttf');
  font-weight: normal;
  font-style: normal;
}

.subtitle {
  font-size: 50px;
  line-height: 0.8em;
  margin: 50px auto;
}

a {
  text-decoration: none;
  font-size: 26px;
}

html,
body {
  font-family: Poppins;
  font-weight: normal;
}

.header-wrapper {
  background: #0475ba;
  width: 100%;
  height: 72px;
}

.header-wrapper .navBar a {
  font-weight: 200;
  float: left;
  display: block;
  justify-content: space-between;
  color: #fff;
  margin: 22px 0 0 50px;
}

.container-white {
  background: #fff;
  color: #000;
}

.container-blue {
  background: #0475ba;
  color: #fff;
}

/* profile */
.profile {
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
}

.job-title {
  position: relative;
  margin: 0 0 0 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo-profile img {
  width: 100%;
  width: 400px;
  margin: 23px 300px 0 0;
}

.profile h1 {
  display: inline;
  font-size: 40px;
  font-weight: 600;
}

.profile h2 {
  font-size: 33px;
  font-weight: 500;
}

.dev-name {
  font-weight:900;
}

/* about */
.about {
  display: flex;
  width: 100%;
  height: 320px;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px 50px 20px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.about .subtitle {
  margin-left: 20%;
}