* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf');
  src: url('./fonts/poppins.ttf');
  /* font-weight: normal; */
  font-style: normal;
}

a {
  text-decoration: none;
  font-size: 26px;
}

html,
body {
  font-family: Poppins;
  font-weight: 600;
}

img {
  width: 100%;
}

.header-wrapper {
  background: #0475ba;
  width: 100%;
  height: 72px;
}

header nav li {
  float: left;
  display: block;
  justify-content: space-around;
  text-align: center;
  padding: 50px 30px;
  color: #fff;
}

.navBar a {
  color: #fff ;
}

.links {
  list-style-type: none;
}

.container-white {
    background: #fff;
}

.container-blue {
    background: #0475ba;;
}

.profile {
  display: flex;
  width: 50%;
  height: 80vh;
  flex-direction: row;
  justify-content: space-between;
}

