* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf');
  src: url('./fonts/poppins.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  font-size: 26px;
  color: #fff;
}

body {
  font-family: Poppins;
  font-weight: normal;
}

p.subtitle {
  font-size: 75px;
  float: left;
}

span {
  font-size: 32px;
  font-weight: bold;
}



